html {
    font-family: "Salesforce Sans";
}
.slds-card {
    background: rgb(250,250,250);
    font-family: "Salesforce Sans";
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;    
}

.slds-text-title {
    color: white;
}

.my-icons {
    --sds-c-icon-color-foreground-default: white;
}

.my-title-color {
    opacity: 0.75;
}

.my-line {
    opacity: 0.5;
    margin: 20px 15px;
}

.my-bar {
    opacity: 0.8;
    --lwc-progressBarColorBackgroundFill: white;
    --lwc-progressBarColorBackground: #bbb;
    margin-top: 5px;
}

.my-ring {
    transform: scale(6) translate(1em,1em);
    position: absolute
}

.slds-grid_align-end {
    justify-content: flex-start !important;
}

.my-height {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}